In [36]:
import pandas 
data = pandas.read_csv("D://Simple Data1.csv")
data.head()

        Date      Time  Speed  Distance           Description
0  2020/11/23  4:45 AM    2.0      5.00      GeeksforGeeks123
1  2020/11/24  5:45 PM    3.9      6.12       ShashingtonDC54
2  2020/11/25  6:45 AM    4.1      7.21  PolandforPoland12522
3  2020/11/26  7:45 PM    5.2      8.78      GeeksforGeeks126

In [37]:
data['Date '].head()

0    2020/11/23
1    2020/11/24
2    2020/11/25
3    2020/11/26
Name: Date , dtype: object

In [38]:
data['Time'].head()

0    4:45 AM
1    5:45 PM
2    6:45 AM
3    7:45 PM
Name: Time, dtype: object

In [39]:
data['Speed'].head()

0    2.0
1    3.9
2    4.1
3    5.2
Name: Speed, dtype: float64

In [40]:
data['Distance'].head()

0    5.00
1    6.12
2    7.21
3    8.78
Name: Distance, dtype: float64

In [41]:
data['Description'].head()

0        GeeksforGeeks123
1         ShashingtonDC54
2    PolandforPoland12522
3        GeeksforGeeks126
Name: Description, dtype: object

In [42]:

import datetime

for i in data['Date ']:
    print("Input Date :  " +i)
    datetimeobj=datetime.datetime.strptime(i,"%Y/%m/%d")
    newformat = datetimeobj.strftime('%d.%m.%Y')
    date=str(newformat).split(" ")[0]
    print("Output Date : "+ date)

Input Date :  2020/11/23
Output Date : 23.11.2020
Input Date :  2020/11/24
Output Date : 24.11.2020
Input Date :  2020/11/25
Output Date : 25.11.2020
Input Date :  2020/11/26
Output Date : 26.11.2020

In [43]:
for time in data['Time']:
    in_time = datetime.datetime.strptime(time, "%I:%M %p")
    out_time = datetime.datetime.strftime(in_time, "%H:%M")
    print(out_time)

04:45
17:45
06:45
19:45

In [44]:
def mps_to_mph(mps):
    return 2.23694 * mps

In [45]:
for speed in data['Speed']:
    speed=mps_to_mph(speed)
    print(speed)

4.47388
8.724066
9.171454
11.632088000000001

In [46]:
def kilometre_1(km):  
    conversion_ratio_1= 0.621371  
    return km * conversion_ratio_1

In [53]:
for dis in data['Distance']:
    distance=kilometre_1(dis)
    print( distance)

3.106855
3.8027905200000003
4.48008491
5.45563738

In [48]:


    # write a row to the csv file

NameError: name 'row' is not defined